
/* Footer Genel Ayarları */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 80px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    z-index: 100;
  }

  .footer-section {
    flex: 1;
    margin: 0 20px;
  }

  .footer-logo {
    max-width: 50px;
    margin-bottom: 20px;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }

  .links h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .links li {
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
  }
  
  .links li:hover {
    text-decoration: underline;
    cursor: pointer;
  }