/* login-register.css */
.BodyLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  input:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
  }
  
  .LoginInput {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  button.LoginButton {
    margin-bottom: 20px;
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.LoginButton:hover {
    background-color: #000000;
  }
  
  .ErrorPrompt {
    font-size: 0.9rem;
    color: red;
    margin-top: 10px;
  }

  .RegisterButton{
    padding: 12px 140px 12px  140px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }

  .RegisterButton:hover {
    background-color: #000000;
  }
  
  